require 'sails'
$LOAD_PATH.unshift Sails.root

Bundler.require()

require "app/services/handler"

module Sails
  config.app_name = '<%= app_name %>'
  # Thrift Configs
  config.thrift_host = '127.0.0.1'
  config.thrift_port = 4000
  config.thrift_processor = Thrift::<%= app_name.capitalize %>::Processor
  
  # config.autoload_paths += %W(app/workers)
  
  config.i18n.default_locale = 'zh-CN'
  
  # cache store
  # config.cache_store = [:dalli_store, '127.0.0.1']
end

Sails.init()