require "rake"
require "rubygems"
require File.expand_path('../config/application.rb', __FILE__)
require "sails/tasks"
Dir.glob('lib/tasks/*.rake').each { |r| import r }

task :environment do
  require File.expand_path('../config/application.rb', __FILE__)
end